@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap");
//Text rubriker och text
$font-headline: "Bebas Neue";
$font-body:"Roboto";

//Text färg
$text-color:rgb(255, 255, 255)